body {
  margin: 20px;
}

div.all-epics {
  width: 100%;
}

div.all-epics > div {
  float: left;
}

div.completed-epics-list {
  width: 25%;
  margin-right: 5%;
}

div.unstarted-epics-list {
  width: 25%;
}

div.incomplete-epics-list {
  width: 40%;
  margin-right: 5%
}

div.incomplete-epic-row {
  width: 100%;
}

div.incomplete-epic-row > div {
  float: left;
}

div.in-progress-epic-name {
  width: 40%;
}

div.in-progress-epic-completion {
  width: 60%;
}

div.in-progress-epic-completion div.progress{
  width: 100%;
  margin-bottom: 2px;
}

div.burndown {
  width: 50%;
  height: 500px;
}

svg.architecture {
  float: left;
  width: 500px;
  height: 500px;
}

svg.architecture line {
stroke: black;
opacity: 1;
stroke-width: 1px;
}

svg.architecture circle {
stroke: black;
opacity: 1.0;
stroke-width: 1px;
fill: #3182bd;

}

svg.architecture text {
font: 7px serif;
opacity: 1;
pointer-events: none;
fill: #3182bd;
}

.pie-chart-segment {
  fill: red;
  stroke: black;
  stroke-width: 1px;
  stroke-linejoin: round;
}

.not-started {
  fill: red;
}

.in-progress {
  fill: yellow;
}

.complete {
  fill: green;
}