body {
  margin: 20px;
}

div.all-epics {
  width: 100%;
}

div.all-epics > div {
  float: left;
}

div.completed-epics-list {
  width: 25%;
  margin-right: 5%;
}

div.unstarted-epics-list {
  width: 25%;
}

div.incomplete-epics-list {
  width: 40%;
  margin-right: 5%
}

div.incomplete-epic-row {
  width: 100%;
}

div.incomplete-epic-row > div {
  float: left;
}

div.in-progress-epic-name {
  width: 40%;
}

div.in-progress-epic-completion {
  width: 60%;
}

div.in-progress-epic-completion div.progress{
  width: 100%;
  margin-bottom: 2px;
}

div.burndown {
  width: 50%;
  height: 500px;
}

svg.architecture {
  float: left;
  width: 500px;
  height: 500px;
}

svg.architecture line {
stroke: #666;
opacity: 0.6;
stroke-width: 1.5px;
}

svg.architecture circle {
stroke: #fff;
opacity: 1.0;
stroke-width: 1.5px;
fill: #3182bd;
}

svg.architecture text {
font: 7px serif;
opacity: 0.6;
pointer-events: none;
fill: #3182bd;
}